<table>
<tr>
<th>filename</th><th>size</th><th>ip</th><th><%=DateTime.now.strftime("%H:%M:%S %d.%m.%y")%></th><th>referer</th><th>UA</th>
</tr>
<% @downloads.each do |dl| %>
<tr>
<td><%= link_to(trunc_title(dl.filename), "/" + dl.filename) %></td>
<td class="<%= filesize_to_style dl.size %>"><%= number_to_human_size dl.size, prefix: :si %></td>
<td><%= dl.ip %></td>
<td><%= dl.created_at.strftime("%H:%M:%S %d.%m.%y") %>
<td><%= link_to(trunc_title(dl.referer.referer_string.to_s), dl.referer.referer_string) if dl.referer %> </td>
<td><%= trunc_title(dl.user_agent.user_agent_string) if dl.user_agent %></td>
</tr>
<% end %>
</table>
<p class="pagination" />
<%= link_to_previous_page @downloads, '< Prev page' %> |
<%= link_to_next_page @downloads, 'Next page >' %>
</div>
