<table>
<tr>
<th>filename</th><th>size</th><th>ip</th><th><%=DateTime.now.strftime("%H:%M:%S %d.%m.%y")%></th><th>referer</th><th>UA</th>
</tr>
<% @thaw_requests.each do |tr| %>
<tr>
<td class="<%= thawed_to_style tr.finished %>"><%= link_to(trunc_title(tr.filename), "/" + tr.filename) %></td>
<td class="<%= filesize_to_style tr.size %>"><%= number_to_human_size tr.size, prefix: :si %></td>
<td><%= tr.ip %></td>
<td><%= tr.created_at.strftime("%H:%M:%S %d.%m.%y") %>
<td><%= link_to(trunc_title(tr.referer.referer_string.to_s), tr.referer.referer_string) if tr.referer %></td>
<td><%= trunc_title(tr.user_agent.user_agent_string) if tr.user_agent %></td>
</tr>
<% end %>
</table>
<p class="pagination" />
<%= link_to_previous_page @thaw_requests, '< Prev page' %> |
<%= link_to_next_page @thaw_requests, 'Next page >' %>
</div>
