<% if !Settings.upload_blocked %>
	<h2>Dump a file</h2>
	<form action="/upload-file" method="post" enctype="multipart/form-data"><input type="hidden" name="MAX_FILE_SIZE" value="<%= Settings.max_file_size %>" /><input type="file" name="file" size="50" />
	<br />
	<% if @show_captcha %>
		<%= show_simple_captcha placeholder: "Text above", label: "" %>
	<% end %>
<input value="Dump!" type="submit" /></form>

<% else %>
	Uploads are currently not allowed.
<% end %>
