<!DOCTYPE html>
<html>
<head>
<title><%= content_for?(:title) ? yield(:title) : "dump.bitcheese.net" %></title>
<link rel="stylesheet" type="text/css" href="//dump.bitcheese.net/files/fepemir/css.css" />
<link rel="icon" type="image/png" href="/files/ytoxuki/favicon.png" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div class="error">
<%= flash[:error] %>
</div>
<div class="newsflash">
</div>
<%= yield %>
<hr />
<p><a href="/">dump.bitcheese.net</a> - limits: file <%= number_to_human_size Settings.max_file_size, prefix: :si %> - dont hax kthx. <br />
All files are responsibility of their uploaders. Service is in maintenance mode and likely to degrade in future. Backup your files.
</body></html>
